@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    font-weight: 300;
    color: #757575;
}


/* Nav Bar */

.avatar_menu {
    height: 1.5rem;
    width: 1.5rem;
}


/* Top */

.top {
    position: relative;
    top: 51px;
    height: 500px;
}

#bg {
    background: url('images/bg.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

#footer_content {
    position: relative;
    top: -400px;
}

.hello {
    position: relative;
    color: #ffffff;
}

.avatar {
    position: relative;
    height: 200px;
    width: 200px;
}

@media only screen and (min-width: 992px) {
    .hello {
        top: 50px;
    }
    .avatar {
        left: 70px;
    }
}


/* ME */

.about {
    position: relative;
    width: 100%;
    height: 525px;
    margin-top: 51px;
}


/* Development */

.development {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #f6f6f6;
}

.soft_block, .software_img {
    position: relative;
    display: block;
}

.soft_text, .web_text {
    display: block;
    color: #444;
    font-size: 1rem;
}

.soft_title, .web_title {
    display: block;
    color: #444;
    font-size: 2.625rem;
    font-weight: 100;
    line-height: 1.4;
}

.software_img {
    margin-top: 20px;
    width: 28rem;
    height: 33rem;
}

.web_block {
    margin-top: 80px;
    left: 20px;
    min-width: 200px;
}

.web_img {
    margin-top: 50px;
    width: 20rem;
    height: 30rem;
}

@media only screen and (min-width: 770px) {
    .soft_block, .web_block {
        top: 100px;
    }
    .software_img, .web_block {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 769px) {
    .development {
        height: 1200px;
    }
    .soft_block, .web_block {
        text-align: center;
    }
    .software_img, .web_img {
        display: block;
        margin: auto;
    }
    .software_img {
        width: 20rem;
        height: 25rem;
    }
    .web_block {
        position: absolute;
        top: -450px;
    }
    .web_img {
        position: relative;
        top: 200px;
    }
}


/* Hobbies */

.hobbies {
    position: relative;
    width: 100%;
    height: 525px;
}


/* Travel section */

.travel {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
}

.travel_text {
    position: relative;
    top: 15px;
    color: #444;
    font-weight: 300;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 85%;
    top: 50px;
}

@media only screen and (max-width: 800px) {
    .marker {
        display: none;
    }
    .travel_text {
        font-size: 20px;
    }
}


/* Google map with markers*/

#map {
    position: relative;
    width: 100%;
    height: 500px;
}

.contact {
    position: relative;
    width: 100%;
    height: 525px;
    background-color: #444;
}
