@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
body,
h1,
h2,
h3,
menu_1,
menu_2,
time {
    -webkit-font-smoothing: antialiased;
}


/* Header ---------------------------------------*/

.header {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 45px;
    width: 100%;
}

.menu_1 {
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: fixed;
    top: 2%;
    right: 375px;
    color: black;
}

.menu_field_1 {
    transition: 0.5s;
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 350px;
    background-color: grey;
    height: 45px;
    width: 100px;
}

a.menu_field_1:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.menu_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: fixed;
    top: 2%;
    right: 285px;
    color: black;
}

.menu_field_2 {
    transition: 0.3s;
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 260px;
    background-color: grey;
    height: 45px;
    width: 90px;
}

a.menu_field_2:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: fixed;
    top: 2%;
    left: 4%;
    color: black;
}

.time {
    position: fixed;
    right: 1%;
    top: 2%;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
}


/* ----------------------------------------------*/


/*  GitHub button --------------------------------------------*/

.github_butt {
    position: absolute;
    top: 70%;
    left: 4%;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: white;
    color: black;
    transition: background-color .3s;
}

.github_butt:hover,
.github_butt:focus {
    background-color: #c9c9c9;
}

.github_butt span {
    display: block;
    padding: 8px 36px;
}

.github_butt:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.github_butt:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}


/* -----------------------------------------------------------*/


/*  My GitHub button -----------------------------------------*/

.my_github_butt {
    position: absolute;
    top: 70%;
    left: 15%;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: white;
    /*#2ecc71;*/
    color: black;
    transition: background-color .3s;
}

.my_github_butt:hover,
.my_github_butt:focus {
    background-color: #c9c9c9;
    /*#27ae60;*/
}

.my_github_butt span {
    display: block;
    padding: 8px 26px;
}

.my_github_butt:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my_github_butt:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}


/* ---------------------------------------------------------*/


/*  GitHub ------------------------------------------------ */

.h3,
.h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.h3 {
    width: 35%;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    top: 40%;
    left: 4%;
}

.h2 {
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    top: 30%;
    left: 4%;
}

.github_page {
    position: absolute;
    top: 30px;
    right: 2%;
}

.github {
    position: absolute;
    left: 0px;
    top: 45px;
    background-color: #247BA0;
    width: 100%;
    height: 500px;
}


/* -------------------------------------------------------- */


/* About -------------------------------------------------- */

.software {
    position: absolute;
    background-color: white;
    top: 545px;
    left: 0px;
    height: 550px;
    width: 100%;
}

.software_img {
    position: absolute;
    top: 50px;
    left: 50px;
}

.software_h1,
.software_h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.software_h1 {
    font-size: 32px;
    position: absolute;
    font-weight: normal;
    top: 80px;
    left: 70%;
}

.software_h2 {
    font-size: 16px;
    position: absolute;
    font-weight: lighter;
    top: 150px;
    left: 70%;
    width: 350px;
}

.web_h1,
.web_h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.web_h1 {
    font-size: 32px;
    position: absolute;
    font-weight: normal;
    top: 80px;
    left: 10%;
}

.web_h2 {
    font-size: 16px;
    position: absolute;
    font-weight: lighter;
    top: 150px;
    left: 10%;
    width: 400px;
}

.web {
    position: absolute;
    background-color: #247BA0;
    top: 1095px;
    left: 0px;
    height: 550px;
    width: 100%;
}

.web_img {
    position: absolute;
    top: 50px;
    right: 0px;
}

.design {
    position: absolute;
    top: 1635px;
    left: 0px;
    height: 550px;
    width: 100%;
    background-color: white;
}

.design_h1,
.design_h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.design_h1 {
    font-size: 32px;
    position: absolute;
    font-weight: normal;
    top: 80px;
    left: 70%;
}

.design_h2 {
    font-size: 16px;
    position: absolute;
    font-weight: lighter;
    top: 150px;
    left: 70%;
    width: 350px;
}
