@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
html,
body {
    -webkit-font-smoothing: antialiased;
}

.row {
    height: 500px;
    width: 100%;
    margin-left: 0px;
    background-color:#247BA0;
}

.github {
    position: relative;
    top: 150px;
    color: white;
}

.h1,
.h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.h1 {
    font-size: 28px;
}

.h2 {
    font-size: 18px;
}
